/* hero slider */
.hero-section {
  padding: 160px 0 270px;
}

.hero-slider {
  overflow: hidden;
  max-height: 700px;
  // opacity: 50%;
  

  .prevArrow {
    left: -100px;
  }

  .nextArrow {
    right: -100px;
  }

  &:hover {
    .prevArrow {
      left: 35px;
    }

    .nextArrow {
      right: 35px;
    }
  }
  .container {
    // :before{
    //   background-color: blue;
    //   float: initial;
    // }
    h1, h2, h4, p {
      color: white !important;
      text-shadow: 3px 3px 3px $text-color-dark;
    }
    p {
      font-size: 140%;
      // color: $text-color-dark;
      font-weight: 800;
      // text-shadow: 1px 1px 1px white; 
    }
    
  }

  .btn {
    // color: white;
    border-color: white;
    background-color: white;
    &:hover{
      border-color: $primary-color;
      background-color: $primary-color;
      color: white;
    }
  }
}

/* /hero slider */